.Room-messagelistcontainer {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  overflow-y: scroll;
  flex-grow: 2;
}

.Room-container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 25em;
  margin: 0 auto;
  justify-content: space-between;
  padding-bottom: 1em;
  box-sizing: border-box;
  height: 100vh;
}

